/public/assets/img/stores
/public/assets/img/sliders
/public/assets/img/logos
/public/assets/img/photos
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
